:root {
	--primary-color: #007bff;
	--primary-color-active: #0074f0;
	--neutral-color: #333333;
	--neutral-color-normal: #222222;
	--neutral-color-active: #444444;
	--danger-color: #a5352b;
	--danger-color-hover: #bf2a1b;

	--window-bg: #1e1e1e;
	--window-border: #2e2e2e;
	--text-color: #fff;

	--titlebar-bg: #272727;
	--titlebar-btn-hover: #ffffff33;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: none;
	background-color: var(--window-bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--titlebar-bg);
	border-radius: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	outline: none;
	font-family: system-ui, 'Trebuchet MS', 'Segoe UI', Helvetica, Arial;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: transparent;
}

body > #app {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	border-radius: 7px;
	transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

body.ready > #app {
	border: 1px solid var(--window-border);
	background-color: var(--window-bg);
}

body > #app > .splashscreen {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
}

body > #app > .splashscreen > img {
	opacity: 1;
	transition: opacity 0.7s ease-in-out;
	transition-delay: 0.2s;
}

body.ready > #app > .splashscreen > img {
	opacity: 0;
}

body > #app > .app {
	height: 100%;
	color: var(--text-color);
}

input:not([type='radio']):not([type='range']) {
	width: 100%;
	padding: 7px 10px;
	border-radius: 7px;
	border: 1px solid var(--window-border);
	background-color: var(--titlebar-bg);
	color: var(--text-color);
}
