:root {
	--primary-color: #007bff;
	--primary-color-active: #0074f0;
	--secondary-color: #ffcc00;
	--danger-color: #a5352b;
	--danger-color-hover: #bf2a1b;
	--body-bg: #1e1e1e;
	--content-bg: #242424;
	--border-color: #2e2e2e;
	--neutral-color: #343434;
	--neutral-hover: #444444;
	--text-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	outline: none;
	font-family: system-ui, 'Trebuchet MS', 'Segoe UI', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

::-webkit-scrollbar-track {
	border-radius: none;
	background-color: var(--body-bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--border-color);
	border-radius: 16px;
	border-inline: 5px solid transparent;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--neutral-color);
	border-inline-width: 4px;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: transparent;
}

body,
button {
	color: var(--text-color);
}

body > #app {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

input:not([type='radio']):not([type='range']) {
	width: 100%;
	padding: 7px 10px;
	border-radius: 7px;
	border: 1px solid var(--border-color);
	background-color: var(--content-bg);
	color: var(--text-color);
}
