@import url('./assets/styles/theme.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	transition: background-color 0.1s ease-in-out;
}

body.ready {
	background-color: var(--window-bg);
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

#app > * {
	width: 100vw;
	height: 100vh;
	color: var(--text-color);
}
